html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98.7vh;
  width: 98.7vw;
  background-color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

.calculator {
  display: flex;
  border: 3px solid white;
  border-radius: 20px;
  flex-direction: column;
  width: 85vh;
  height: 80vh;
  
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid white;
  border-radius: 0px 0px 16px 16px;
  height: 60vh;
  width: 84vh;
  justify-content: space-around;
  
}

.button {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: lightgray;
  border: 3px solid #000000;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  height: 95px;
  width: 95px;
  
}

#screen {
  border: 2px solid white;
  
}

.screens {
  width: 85vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  border-radius: 16px 16px 0px 0px;
  
  
  ;
}

.primary-screen {
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: bolder;
  font-size:xx-large;
  height: 12.5vh;
  border: 3px solid white;
  border-radius: 16px 16px 0px 0px;
  
  
  
  
  
}

.secondary-screen {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 7vh;
  border: 3px solid white;
  font-size:larger;
  font-weight: bold;

  ;
}

#clear {
  background-color: red;
}

#Del {
  background-color: red;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

[id*="/"], [id*="+"], [id*="x"], [id*="-"] {
  background-color: aqua;
}

[id*="="] {
  background-color: green;
}

